.course-img img {
  width: 340px;
  height: 280px;
  border-radius: 15px;
}

.course-list {
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 15px;
  align-items: center;
  padding: 13px;
  width: 460px;
  gap: 10px;
}

.expanded {
  border-radius: 15px;
  padding: 15px;
  max-height: 1000px;
  transform: scale(1.1);
  background-color: rgba(170, 167, 167, 0.5);
}

.expanded-details {
  width: 100%;
  margin-top: 20px;
  color: white;
  font-size: 16px;
  text-align: left;
  transition: opacity 0.3s ease;
}

.expanded-details p strong {
  color: black;
}

.yenroll {
  font-weight: 700;
  color: rgb(3, 255, 28);
}

.nenroll {
  font-weight: 700;
  color: red;
}

.name-enroll {
  width: 340px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  color: red;
}

.enroll-status {
  color: green;
}

.course-description {
  width: 340px;
  font-size: 16px;
}

.know-more {
  width: 340px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  align-items: center;
}

.know-more button {
  border-radius: 10px;
  height: 40px;
  width: 100px;
  font-size: 15px;
  background-color: rgb(87, 243, 97);
  border: 1px solid rgb(87, 243, 97);
  font-weight: 600;
  color: white;
}

.instructor {
  font-size: 20px;
  color: orange;
}

@media (max-width: 480px) {
  .course-list {
    width: 100%;
    padding: 10px;
  }

  .course-img img {
    width: 200px;
    height: 150px;
    border-radius: 15px;
  }

  .yenroll {
    font-size: 12px;
  }

  .nenroll {
    font-size: 12px;
  }

  .remaining {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .name-enroll {
    font-size: 14px;
  }

  .course-description {
    font-size: 12px;
    width: 210px;
  }

  .know-more button {
    height: 30px;
    width: 70px;
    font-size: 12px;
  }

  .instructor {
    font-size: 16px;
  }

  .expanded-details {
    font-size: 14px;
  }

  .course-name {
    font-size: 12px;
    font-weight: 700;
  }
}
