.dash-course{
    display: flex;
  }
.box{
    width: 33%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: rgb(235, 233, 233);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }
  .box p{
    font-size: 12px;
    margin-top: 5px;
  }
  .box button{
    background: #000;
    color: #fff;
    padding: 7px 10px;
    border-radius: 10px;
    margin-top: 3rem;
    cursor: pointer;
  }
  .box button:hover{
    background: rgba(0, 0, 0, 0.842);
  }
  .box i{
    font-size: 7rem;
    float: right;
    margin: -20px 20px 20px 0;
  }